 .App{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
 }

  .demo-img{
      width: 45%;
      min-height: 20%;
  }

  .ref{
      margin-top: 20px;
      width: 54vw;
  }